@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #670464ff;
    border: none;
    box-shadow: 0 6px 12px #dadada;
}

.navbar a {
    color: #d1a307;
}

.navbar a:hover {
    background-color: #2C0031ff ;
}

.font-logo {
    /*    font-family: 'Permanent Marker', cursive;
*/
    font-family: 'Langar', cursive !important;
}
.footer-position {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    text-align: center !important;
    padding-top: 15px;
    background: #fff;
    box-shadow: 0 6px 18px #ccc;
}


.row-style {
    margin-top: 50px;
}

.truncate {
     /*Required declarations: */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
     /*Limit the text block to x lines */
    -webkit-line-clamp: 5;
}

/*  Stilizare articol  */

/*.panel-article {
    box-shadow: 0 2px 6px #ccc;
    border-radius: 0 !important;
}

.article-heading {
    background-color: #fff !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: 0 2px 4px #f2f2f2;
}

.article-title {
    font-size: 16px;
    font-weight: bold;
    color: #3c3c3c;
}

.article-content-title {
    font-weight: bold;
    color: #3c3c3c;
}

.article-content-wrapper {
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .article-content-wrapper * {
        font-size: 13px !important;
    }

.article-meta {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

    .article-meta:hover {
        background-color: #fafafa;
    }

    .article-meta > * {
        display: block;
    }

.full-width {
    width: 100%;
}*/